* {
  margin:0;
  padding:0;
  }
  :root {
  --main-bg-color: #f4ebdc;
  --main-text-color: #000000;
  --header-bg-color: #e4d0ad;
  --subtitle-text-color: #dbc090;
  --btn-bg-color: #e4d0ad;
  --btn-text-color: #FFFFFF;
  }
  h1, h2, h3, h4, h5, h6, p{
    margin: 0 !important;
  }
  a{
    text-decoration: none;
  }
  ul, li{
    padding: 0;
    margin: 0;
  }
.swbtn{
  padding: 8px 16px;
  border-radius: 9999px;
  color: var(--btn-text-color);
  background-color: var(--btn-bg-color);
}
.title{
  font-weight: 400;
  color: var(--main-text-color);
}
.sub-title{
  font-weight: 400;
  color: var(--subtitle-text-color);
}
/* Banner Area */
.banner-content > a{
  font-size: 14px;
}
.banner-content > h2,h4{
  font-size: 40px;
  margin: 20px 0;
}
.banner-content>p{
  margin-top: 30px;
  font-size: 18px;
  font-weight: 400;
}
.banner-img{
  object-fit: fill;
}
/* User Counter Area */
#user-count-main-area {
  background-color: var(--main-bg-color);
}
.count-area{
  border-bottom: 3px solid #ece3d4;
  padding: 30px 0;
}
.count-area > div{
  padding: 10px;
  border-radius: 15px;
  background-color: #FFFFFF;
}
.count-area > div > span{
  display: block;
}
.count-area > div > span:nth-child(1){
  color: #858585;
  font-size: 20px;
}
.count-area > div > span:nth-child(2){
  color: #dbc090;
  font-size: 24px;
}
.user-count-content > div:nth-child(2){
  padding: 30px 0;
}
.user-count-content > div:nth-child(2) > p{
  font-size: 18px;
}
.user-count-content > div:nth-child(2) > a{
  font-size: 24px;
}
.user-count-content > div:nth-child(2) > a > i{
  font-weight: bold;
}
/* SignIn Area */
#signin-main-area{
  overflow: hidden;
  background-color: #f3f3f3;
}
.signin-content > h1{
  color: var(--subtitle-text-color);
  font-size: 68px;
  text-align: center;
  margin: 60px 0;
}
.signin-content > a{
  font-size: 40px;
  margin: 30px 0;
}
.signin-content form input{
  font-size: 24px;
}
/* Iconic Area */
.iconic-content{
  padding: 15px;
  border-radius: 20px;
  background-color: var(--header-bg-color);
}
.iconic-content > div{
  background-color: #fffdf9;
}
.iconic-content > div > div img{
  width: auto;
  height: 64px;
}
.iconic_content_wraper{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 15px;
  padding: 25px;

}
.iconic_content_wraper .item_wraper{
  text-align: center;
}
.iconic_content_wraper .item_wraper .item_name{
  font-size: 18px;
  font-weight: 700;
}
/* Chart Area */


/* Images Section */
.images-section > .section-01{
  background-image: url(../images/mobile.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  background-color: #f3f2f1;
  padding: 50px 0;
}
.images-section > .section-01 > .container{
  height: 400px;
  position: relative;
}
.images-section > .section-01 > .container > div{
  position: absolute;
  left: 0;
  bottom: 0;
}
.images-section > .section-02{
  background-image: url(../images/section_02_image.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  padding: 50px 0;
}
.images-section > .section-02 > .container{
  height: 400px;
}
.images-section > .section-03{
  background-image: url(../images/section_03_image.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  padding: 50px 0;
  margin: 50px 0;
}
.images-section > .section-03 > .container{
  text-align: right;
  height: 400px;
}
.images-section > .section-04{
  background-image: url(../images/section_04_image.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  padding: 50px 0;
}
.images-section > .section-04 > .container{
  height: 400px;
}
.images-section > .section-05{
  background-image: url(../images/section_05_image.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  padding: 50px 0;
}
.images-section > .section-05 > .container{
  text-align: right;
  height: 400px;
}
/* Chat Section */
.chat-area{
  background-color: var(--main-bg-color);
}
.chat-area > .container > div:nth-child(1){
  padding: 20px 0;
  border-bottom: 3px solid #e4d0ad;
}
.chat-area > .container > div > h2{
  text-align: center;
}
.chat-content{
  padding: 30px 0;
}
.chat-content-left{
  background-color: #FFFFFF;
  padding: 2px 10px;
  border-radius: 999px;
}
.chat-content-right{
  background-color: #e4d0ad;
  padding: 10px;
  border-radius: 15px;
  width: 500px;
}

/* Accordion Area */
#accordion-main-area{
  padding: 50px 0;
}
.accordion-content{
  border-radius: 25px;
  overflow: hidden;
}
.accordion-title{
  padding: 10px 20px;
  background-color: #e4d0ad;
}
.accordion-item:nth-child(1){
  border-top: 2px solid#e4d0ad !important;
}
.accordion-item{
  border-bottom: 2px solid#e4d0ad !important;
  border-left: 2px solid#e4d0ad !important;
  border-right: 2px solid#e4d0ad !important;
}
.accordion-body{
  border-top: 2px solid#e4d0ad !important;
}

.accordion-button:focus {
  border-color: #e4d0ad !important;
  box-shadow: none !important;
}

.accordion-button:not(.collapsed) {
  color: #838383 !important;
  background-color: #FFFFFF !important;
  box-shadow: none !important;
}

/* .accordion-button:not(.collapsed)::after{
  background-image: url();
} */

/* Tip Area */
#tip-main-area{
  padding: 50px 0;
}
.tip-main-containt{
  border-radius: 25px;
  overflow: hidden;
}
.tip-heading-area >h2:nth-child(1){
  font-size: 28px;
  font-weight: 400;
}
.tip-heading-area >h2:nth-child(2){
  font-size: 32px;
  font-weight: 600;
}
.tip-heading-area{
  padding: 20px;
  background-color: #e4d0ad;
}
.tip-content{
  padding: 20px;
}
.tip-single-content{
  padding: 20px;
  border-bottom: 6px solid #f3f3f3;
}
.tip-single-content:last-child{
  border-bottom: none !important;
}
.tip-title{
  display: inline-block;
  font-size: 26px;
  font-weight: 400;
  border-bottom: 6px solid #e4d0ad;
}
.tip-title > span{
  font-weight: 600;
}
.tip-list{
  background-color: var(--main-bg-color);
  padding: 15px;
  border-radius: 16px;
  margin-top: 20px;
}
.tip-list > ul{
  padding-left: 20px;
}
.tip-list > ul > li{
  font-size: 16px;
}

/* User Area */
#user-main-area{
  padding: 50px 0;
}
.user-main-content{
  display: inline-block;
  padding: 8px 16px;
  border: 6px solid #f4ebdc;
  border-radius: 999px;
}
.user-img{
  margin-right: 10px;
  width: 64px;
  height: 64px;
}
.user-img> img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.user-content{
  display: inline-block;
}
.user-content > h4{
  font-size: 18px;
  line-height: 1.4em;
  font-weight: 400;
}
.user-content > h4>span{
  font-size: 12px;
}

/* Device Area */
.device-title{
  font-size: 38px;
  font-weight: 600;
}